@import url('index.css');

.App {
  display: flex;
  flex-flow: column;
}

.App>* {
  flex: 1 100%;
  max-width: 50rem;
  margin: 0 auto;
}

h1 {
  margin: 0 auto;
  color: var(--orange);
  font-size: 4rem;
  padding: 2rem;
}

.generator {
  display: flex;

  border-radius: 3rem 2rem;
  background-color: #ddd;
  margin-bottom: 2rem;
}

.engineer {
  padding: 0.5rem 0.5rem 0;
}

.phrase {
  font-size: 1.7rem;
  text-align: center;
  padding: 1rem 0;
  margin: 1rem;
  background: var(--yellow);
  border-radius: 1rem;
  color: black;
  position: relative;
}

.phrase:before {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 20px solid var(--yellow);
  border-bottom: 10px solid transparent;
}

.saved {
  color: #333;
  padding: 1rem;
}

button {
  background-color: var(--orange);
  border: none;
  padding: 1rem;
  font-family: 'Zen Dots';
  margin: 0.5rem;
  border-radius: 1rem;
  text-transform: uppercase;
  transition: background 150ms;
  cursor: pointer;
}

button:hover {
  background-color: var(--mustard);
}

.dice .individual {
  display: flex;
  justify-content: space-evenly;
  color: black;
}

.dice .controls {
  margin-top: 1rem;
  text-align: center;
}