@import url('index.css');

:root {
    --dice-width: 9rem;
}

.die-wrapper {
    display: flex;
    align-content: center;
    flex-direction: column;
    text-align: center;
    width: var(--dice-width);
    margin: 0 0.5rem;
}

p {
    background-color: var(--yellow);
    margin: 0;
    padding: 0.5rem 0;
    border-radius: 1rem 1rem 0 0;

    width: var(--dice-width);
}

.die {
    height: 4.5rem;
    width: var(--dice-width);
    background-color: var(--gray);
    border-radius: 0 0 1rem 1rem;
    margin: 0 auto;
}

.roll {
    font-size: 3.5rem;
    padding: 0;
    margin: 0;
}

button {
    margin-top: 1rem;
}

span {
    font-size: 1.25rem;
}
